@namespace ScheduleBlazorAssemblyWebApp.Pages.MainPage
@page "/"
@using ScheduleBlazorAssemblyWebApp.FilenameHandlers


<div class="container">

    <section id="MainLogo" class="d-flex align-items-center">
        <div
            class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">
            <img
                class="img-fluid m-2 p-3"
                style="height: auto; max-width: 45%;"
                src="@tempImg.IndexBigLogo"
                alt="Schedule logo big"/>
            <h2
                class="my-4">
                Welcome to Schedule Web App
            </h2>
            <div class="d-flex">
                @if (IsLogged)
                {
                    <a href="#" class="btn btn-success mx-2">Go to schedule!</a>
                }
                else
                {
                    <a href="#" class="btn btn-success mx-2">Sing up</a>
                    <a href="#" class="btn btn-outline-primary mx-2">Sing in</a>
                }

            </div>
        </div>
    </section>

    <section id="Pluses" class="py-4">
        <PluseComponent
            ImgUrl="@tempImg.AboutSectionImgs[0]"
            TextBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta fermentum nisi vitae porta. Etiam molestie ex tellus, nec rutrum sem ultricies nec. Etiam fermentum turpis a nulla pellentesque, eget rhoncus ligula volutpat. Vivamus eu orci egestas, porttitor mi vel, rhoncus est. Cras vel tellus sapien. Curabitur eu leo egestas, tincidunt lectus et, convallis felis. Integer suscipit eget ante vel aliquam. Nullam feugiat lectus risus, vel sodales nibh malesuada et. Nam cursus egestas eros ac mattis. Pellentesque sagittis urna libero, non feugiat tortor sagittis a."/>

        <PluseComponent
            ImgUrl="@tempImg.AboutSectionImgs[1]"
            TextBody="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta fermentum nisi vitae porta. Etiam molestie ex tellus, nec rutrum sem ultricies nec. Etiam fermentum turpis a nulla pellentesque, eget rhoncus ligula volutpat. Vivamus eu orci egestas, porttitor mi vel, rhoncus est. Cras vel tellus sapien. Curabitur eu leo egestas, tincidunt lectus et, convallis felis. Integer suscipit eget ante vel aliquam. Nullam feugiat lectus risus, vel sodales nibh malesuada et. Nam cursus egestas eros ac mattis. Pellentesque sagittis urna libero, non feugiat tortor sagittis a."
            Reverse="true"/>
    </section>

    <section id="index-clients" class="">
        <div class="container">
            <div class="d-flex flex-row justify-content-around flex-wrap">
                <ClientCardComponent
                    Name="Website"
                    Description="This is Blazor Website is one of this UIs"
                    ImgHolder="@tempImg.IndexUIsList[0]"
                    ButtonLink="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-6.0">
                </ClientCardComponent>
                <ClientCardComponent
                    Name="Website"
                    Description="This is Blazor Website is one of this UIs"
                    ImgHolder="@tempImg.IndexUIsList[0]"
                    ButtonLink="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-6.0">
                </ClientCardComponent>
                <ClientCardComponent
                    Name="Website"
                    Description="This is Blazor Website is one of this UIs"
                    ImgHolder="@tempImg.IndexUIsList[0]"
                    ButtonLink="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-6.0">
                </ClientCardComponent>
            </div>

        </div>
    </section>

</div>

<Footer ImageHolder="@tempImg"></Footer>

@code
{
    private readonly ImageHandler tempImg = new();
    public bool IsLogged { get; } = false;
}